<div class="container-fluid text-center">
  <%= form_with(model: project, local: true) do |form| %>
    <% if project.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

        <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

      <div class="container">
        <div class="card">
          <div class="field">
            <div class="card-header">
              <%= form.label :title %><br>
            </div>
            <div class="card-body">
              <%= form.text_field :title %>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="card">
          <div class="field">
            <div class="card-header">
              <%= form.label :description %><br>
            </div>
            <div class="card-body">
              <%= form.text_area :description %>
            </div>
          </div>
        </div>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
  <% end %>
</div>