<p id="notice"><%= notice %></p>

<center><h1>Projects</h1></center>


<div class="row px-4">
  <% @projects.each do |project| %>
    <div class="col-sm-4 mt-4">
      <div class="card text-center">
        <div class="card-header">
          <%= project.title %>
        </div>
        <div class="card-body">
          <%= project.description %>
        </div>
        <% if user_signed_in? %>
          <div class="card-footer text-muted">
            <button class="btn btn-outline-dark">
              <%= link_to 'Show', project %>
            </button>

            <button class="btn btn-outline-dark">
              <%= link_to 'Edit', edit_project_path(project) %>
            </button>

            <button class="btn btn-outline-dark">
              <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
            </button>
          </div>
        <% else %>
          <div class="card-footer text-muted">
            <button class="btn btn-outline-dark">
              <%= link_to 'Show', project %>
            </button>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>


<br>
<ul class="container-fluid text-center">
  <button type"button" class="btn btn-dark">
    <%= link_to 'New Project', new_project_path %>
  </button>
</ul>