<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="card text-center">
    <div class="card-header">
      <%= @project.title %>
    </div>

    <div class="card-body">
      <strong>Description:</strong>
      <%= @project.description %>
    </div>

    <div class="card-footer text-muted">
      <%= link_to 'Edit', edit_project_path(@project) %> |
      <%= link_to 'Back', projects_path %>
    </div>
  </div>
</div>